@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #050814;
  color: white;
  overflow-x: hidden;
}

canvas {
  display: block;
  cursor: crosshair;
}

/* Particle canvas */
#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

/* Blob animations */
.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.2;
  animation: float 20s ease-in-out infinite;
}

.blob-1 {
  width: 400px;
  height: 400px;
  background: #39FF14;
  top: 10%;
  left: 10%;
  animation-delay: 0s;
}

.blob-2 {
  width: 350px;
  height: 350px;
  background: #00F0FF;
  top: 50%;
  right: 10%;
  animation-delay: 5s;
}

.blob-3 {
  width: 300px;
  height: 300px;
  background: #BC13FE;
  bottom: 10%;
  left: 50%;
  animation-delay: 10s;
}

